<app-client-detail [selectedClient]="selectedClient">
</app-client-detail>

<div class="card bg-light mb-3">

  <div class="card-header">
    Clients
  </div>

  <div class="card-body">

    <h5 class="card-title">
      Clients List
    </h5>

    <div>

      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clients/form']"
        (click)="onCreateClient()"
      >
        Create Client
      </button>

    </div>

    <div
      *ngIf="clients.length === 0"
      class="alert alert-info mt-2"
    >
      No existen clientes registrados en la base de datos
    </div>

    <table
      class="table table-bordered table-striped"
      *ngIf="clients.length > 0"
    >

      <thead>

        <tr>

          <th>
            image
          </th>

          <th>
            first name
          </th>

          <th>
            last name
          </th>

          <th>
            email
          </th>

          <th>
            date
          </th>

          <th>
            edit
          </th>

          <th>
            delete
          </th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let client of clients">

          <td>

            <img
              *ngIf="client.image"
              [src]="'http://localhost:8080/api/clients/image/' + client.image"
              alt="No image for this user"
              class="img-thumbnail rounded"
              style="width: 150px; cursor: pointer;"
              (click)="onSelectClient(client.id)"
            >

            <img
              *ngIf="!client.image"
              src="http://localhost:8080/images/no-user.png"
              alt="No image for this user"
              class="img-thumbnail rounded"
              style="width: 150px; cursor: pointer;"
              (click)="onSelectClient(client.id)"
            >

          </td>

          <td>
            {{ client.firstName }}
          </td>

          <td>
            {{ client.lastName | uppercase }}
          </td>

          <td>
            {{ client.email }}
          </td>

          <td>
            {{ client.createdAt | date:"EEEE dd, MMMM yyyy" }}
          </td>

          <td>

            <button
              type="button"
              name="button"
              [routerLink]="['/clients/form', client.id]"
              class="btn btn-primary"
            >
              edit
            </button>

          </td>

          <td>

            <button
              type="button"
              name="button"
              (click)="onDelete(client)"
              class="btn btn-danger"
            >
              delete
            </button>

          </td>

        </tr>

      </tbody>

    </table>

    <app-client-paginator [pageLinks]="5">
    </app-client-paginator>

  </div>

</div>
